<!-- display-submenu -->
<nav class="navbar">
	<ul class="nav navbar-nav">
        <li class="active"><a href="#"><img src="../static/img/icons/nav-top-icons/data-layer.png" atl="gis" /> <span>Lớp dữ liệu</span></a></li>
        <li><a href="#"><img src="../static/img/icons/nav-top-icons/google-img.png" atl="gis" /> <span>Ảnh Google</span></a></li>
        <li><a href="#"><img src="../static/img/icons/nav-top-icons/stat.png" atl="gis" /> <span>Ảnh vệ tinh</span></a></li>
        <li><a href="#"><img src="../static/img/icons/nav-top-icons/label.png" atl="gis" /> <span>Nhãn <br/> đối tượng</span></a></li>
    </ul>
</nav>
<!-- display-submenu -->