<!-- management-submenu -->
<nav class="navbar">
	<ul class="nav navbar-nav">
        <li class="active"><a href="#"><img src="../static/img/icons/nav-top-icons/user-icon.png" atl="gis" /> <span>Người dùng</span></a></li>
        <li><a href="#"><img src="../static/img/icons/nav-top-icons/checkin.png" atl="gis" /> <span>Check in</span></a></li>
        <li><a href="#"><img src="../static/img/icons/nav-top-icons/tracking.png" atl="gis" /> <span>Tracking</span></a></li>
        <li><a href="#"><img src="../static/img/icons/nav-top-icons/history-log.png" atl="gis" /> <span>Lịch sử <br/> hoạt động</span></a></li>
    </ul>
</nav>
<!-- management-submenu -->