<!-- report submenu -->
<nav class="navbar">
	<ul class="nav navbar-nav">
        <li class="active"><a href="#"><img src="../static/img/icons/nav-top-icons/company.png" atl="gis" /> <span>Doanh nghiệp</span></a></li>
        <li><a href="#"><img src="../static/img/icons/nav-top-icons/channel.png" atl="gis" /> <span>Kênh <br/> phân phối</span></a></li>
        <li><a href="#"><img src="../static/img/icons/nav-top-icons/factory.png" atl="gis" /> <span>Nhà máy</span></a></li>
        <li><a href="#"><img src="../static/img/icons/nav-top-icons/store.png" atl="gis" /> <span>Kho</span></a></li>
        <li><a href="#"><img src="../static/img/icons/nav-top-icons/logis.png" atl="gis" /> <span>Doanh nghiệp <br/> vận tải</span></a></li>
        <li><a href="#"><img src="../static/img/icons/nav-top-icons/g-company.png" atl="gis" /> <span>Cơ quan <br/> nhà nước</span></a></li>
        <li class="sub-group">
            <span class="group-separator"></span>
        	<ul>
        		<span class="sub-group-name">Lượng bán</span>
        		<li><a href="#"><img src="../static/img/icons/nav-top-icons/sales_volume_1.png" atl="gis" /> <span>Theo địa bàn</span></a></li>
        		<li><a href="#"><img src="../static/img/icons/nav-top-icons/sales_volume_2.png" atl="gis" /> <span>Theo địa lý</span></a></li>
        	</ul>
        </li>
        <li class="sub-group">
            <span class="group-separator"></span>
        	<ul>
        		<span class="sub-group-name">Nhu cầu phân bón</span>
        		<li><a href="#"><img src="../static/img/icons/nav-top-icons/fertilizer_demand_1.png" atl="gis" /> <span>Theo tỉnh</span></a></li>
        		<li><a href="#"><img src="../static/img/icons/nav-top-icons/fertilizer_demand_2.png" atl="gis" /> <span>Dự báo</span></a></li>
        	</ul>
            <span class="group-separator"></span>
        </li>
        <li><a href="#"><img src="../static/img/icons/nav-top-icons/price.png" atl="gis" /> <span>Giá bán <br/> phân bón</span></a></li>
        <li><a href="#"><img src="../static/img/icons/nav-top-icons/plant.png" atl="gis" /> <span>Cây trồng</span></a></li>
        <li><a href="#"><img src="../static/img/icons/nav-top-icons/soil.png" atl="gis" /> <span>Thổ nhưỡng</span></a></li>
        <li><a href="#"><img src="../static/img/icons/nav-top-icons/sell-quant.png" atl="gis" /> <span>Lượng bán <br/> theo địa bàn</span></a></li>
        <li><a href="#"><img src="../static/img/icons/nav-top-icons/bug.png" atl="gis" /> <span>Sâu bệnh</span></a></li>
        <li><a href="#"><img src="../static/img/icons/nav-top-icons/weather.png" atl="gis" /> <span>Khí hậu</span></a></li>
        <li><a href="#"><img src="../static/img/icons/nav-top-icons/sector.png" atl="gis" /> <span>Thị phần <br/> phân bón</span></a></li>
        <li><a href="#"><img src="../static/img/icons/nav-top-icons/area.png" atl="gis" /> <span>Khoanh vùng</span></a></li>
    </ul>
</nav>
<!-- report submenu -->