<!-- search submenu -->
<nav class="navbar">
	<ul class="nav navbar-nav">
        <li><a href="javascript:void(0)" onclick="openPopup('w')"><img src="../static/img/icons/nav-top-icons/company.png" atl="gis" /> <span>Doanh nghiệp</span></a></li>
        <li><a href="javascript:void(0)" onclick="openPopup('w2')"><img src="../static/img/icons/nav-top-icons/channel.png" atl="gis" /> <span>Kênh <br/> phân phối</span></a></li>
        <li><a href="#"><img src="../static/img/icons/nav-top-icons/factory.png" atl="gis" /> <span>Nhà máy</span></a></li>
        <li><a href="#"><img src="../static/img/icons/nav-top-icons/store.png" atl="gis" /> <span>Kho</span></a></li>
        <li><a href="#"><img src="../static/img/icons/nav-top-icons/logis.png" atl="gis" /> <span>Doanh nghiệp <br/> vận tải</span></a></li>
        <li><a href="#"><img src="../static/img/icons/nav-top-icons/g-company.png" atl="gis" /> <span>Cơ quan <br/> nhà nước</span></a></li>
        <li><a href="#"><img src="../static/img/icons/nav-top-icons/hqmanagement.png" atl="gis" /> <span>Hành chính</span></a></li>
        <li><a href="#"><img src="../static/img/icons/nav-top-icons/plant.png" atl="gis" /> <span>Cây trồng</span></a></li>
        <li><a href="#"><img src="../static/img/icons/nav-top-icons/soil.png" atl="gis" /> <span>Thổ nhưỡng</span></a></li>
        <li><a href="#"><img src="../static/img/icons/nav-top-icons/bug.png" atl="gis" /> <span>Sâu bệnh</span></a></li>
        <li><a href="#"><img src="../static/img/icons/nav-top-icons/weather.png" atl="gis" /> <span>Khí hậu</span></a></li>
       
    </ul>
</nav>
<!-- search submenu -->