<!--setting-submenu-->
<nav class="navbar">
	<ul class="nav navbar-nav">
		
        <li class="sub-group">
            <ul>
                <li><a href="#" id="setting-chanel-1"><span>Kênh mặc định</span></a></li>
                <li><a href="#" id="setting-chanel-2"><span>Kênh theo khối lượng</span></a></li>
                <li><a href="#" id="setting-chanel-1-1"><span>PVFCCo Miền Bắc</span></a></li>
            </ul>
            <span class="group-separator"></span>
        </li>
        <li class="sub-group">
            <ul>   
                <li><a href="#" id="setting-chanel-1-2"><span>PVFCCo Miền Trung</span></a></li>   
                <li><a href="#" id="setting-chanel-1-3"><span>PVFCCo Đông Nam Bộ</span></a></li>
                <li><a href="#" id="setting-chanel-1-4"><span>PVFCCo Tây Nam Bộ</span></a></li>

            </ul>
            <span class="group-separator"></span>
        </li>
		<li><a href="#" id="setting-company"><span>Doanh nghiệp</span></a></li>
		<li><a href="#" id="setting-storehouse"><span>Kho</span></a></li>
		<li><a href="#" id="setting-factory"><span>Nhà máy</span></a></li>
		<li><a href="#" id="setting-transport-enterprise"><span>DN vận tải</span></a></li>
		<li class="sub-group">
            <span class="group-separator"></span>
        	<ul>
        		<li><a href="#" id="setting-province-1"><span>Tỉnh mặc định</span></a></li>
        		<li><a href="#" id="setting-province-2"><span>Tỉnh theo vùng</span></a></li>
        		<li><a href="#" id="setting-province-3"><span>Tỉnh theo khối lượng</span></a></li>
        	</ul>
        	<span class="group-separator"></span>
        </li>
        <li class="sub-group">
            <ul>
                <li><a href="#" id="setting-province-1-1"><span>Tỉnh Miền Bắc</span></a></li>
                <li><a href="#" id="setting-province-1-2"><span>Tỉnh Miền Trung</span></a></li>
                <li><a href="#" id="setting-province-1-3"><span>Tỉnh Đông Nam Bộ</span></a></li>
            </ul>
            <span class="group-separator"></span>
        </li>
        <li class="sub-group">
            <ul>
                <li><a href="#" id="setting-province-1-4"><span>Tỉnh Tây Nam Bộ</span></a></li>
            </ul>
            <span class="group-separator"></span>
        </li>
        <li class="sub-group">
        	<ul>
        		<li><a href="#" id="setting-district-1"><span>Huyện mặc định</span></a></li>
        		<li><a href="#" id="setting-district-2"><span>Huyện theo vùng</span></a></li>
        		<li><a href="#" id="setting-district-3"><span>Huyện theo khối lượng</span></a></li>
        	</ul>
        	<span class="group-separator"></span>
        </li>
        <li class="sub-group">
            <ul>
                <li><a href="#" id="setting-google-maps"><span>Google Maps</span></a></li>
                <li><a href="#" id="setting-google-satelite"><span>Google Satelite</span></a></li>
                <li><a href="#" id="setting-g-ward"><span>Xã</span></a></li>
            </ul>
        </li>
        <li class="sub-group">
        	<span class="group-separator"></span>
        	<ul>
        		<li><a href="#" id="setting-tab-1"><span>Cập nhật</span></a></li>
        		<li><a href="#" id="setting-tab-2"><span>Tìm kiếm</span></a></li>
        		<li><a href="#" id="setting-tab-3"><span>Báo cáo</span></a></li>
        	</ul>
        	<span class="group-separator"></span>
        </li>
        <li class="sub-group">
        	<ul>
        		<li><a href="#" id="setting-tab-4"><span>Hỗ trợ </span></a></li>
        		<li><a href="#" id="setting-tab-5"><span>Hiển thị</span></a></li>
        		<li><a href="#" id="setting-tab-6"><span>Quản lý</span></a></li>
        	</ul>
        	<span class="group-separator"></span>
        </li>
    </ul>
</nav>
<!--./setting-submenu-->