<div class="sidebar" id="gis-sidebar">
	<div class="sidebar-inner" style="height: 100vh">
		<div class="nav-groups">
			<ul class="list-group">
				<li class="list-group-item item-title"><img src="../static/img/icons/nav-group/data.png" > <span>Lớp dữ liệu</span></li>
			</ul>
			<div class="sidebar-scroll-bar">
				<div class="layer-div">

					<!--list-group-wrap-->
					<div class="list-group-wrap chanel-group" id="chanel-1">
					    <!--list-group-->
					    <ul class="list-group checktree active">
					        <span class="treeview"><i class="fa fa-caret-right"></i></span>
					        <!--list-group-item-->
					        <li class="list-group-item">
					            <!--checkbox-div-->
					            <div class="checkbox-div">
					                <input type="checkbox" checked> 
					                <label><span class="item-text">Kênh phân phối</span></label>
					            </div><!--./checkbox-div-->
					            <!--list-group-->
					            <ul class="list-group treeview-menu">
					                <!--node-0-0-->
					                <li class="list-group-item chanel" id="chanel-1-1">
					                    <!--checkbox-div-->
					                    <div class="checkbox-div">
					                        <input type="checkbox" checked> 
					                        <label><span class="item-text">PVFCCo Miền Bắc</span></label>
					                    </div><!--./checkbox-div--> 
					                    <!--list-group-->
					                    <ul class="list-group">
					                        <li class="list-group-item"><span class="item-icon"><i class="fa fa-circle" style="color:#ED1C24"></i></span><span class="item-text">Đại lý cấp 1</span></li>
					                        <li class="list-group-item"><span class="item-icon"><i class="fa fa-circle" style="color:#FF9F00"></i></span><span class="item-text">Đại lý cấp 2</span></li>
					                        <li class="list-group-item"><span class="item-icon"><i class="fa fa-circle" style="color:#FFC215"></i></span><span class="item-text">Khách hàng TM</span></li>
					                        <li class="list-group-item"><span class="item-icon"><i class="fa fa-circle" style="color:#FFEC00"></i></span><span class="item-text">Khách hàng lớn</span></li>
					                    </ul>
					                    <!--./list-group-->
					                </li><!--./list-group-item--><!--node-0-0-->

					                <!--node-0-1-->
					                <li class="list-group-item chanel" id="chanel-1-2">
					                    <!--checkbox-div-->
					                    <div class="checkbox-div">
					                        <input type="checkbox" checked> 
					                        <label><span class="item-text">PVFCCo Miền Trung</span></label>
					                    </div><!--./checkbox-div--> 
					                    <!--list-group-->
					                    <ul class="list-group">
					                        <li class="list-group-item"><span class="item-icon"><i class="fa fa-circle" style="color:#9013FE"></i></span><span class="item-text">Đại lý cấp 1</span></li> 
					                        <li class="list-group-item"><span class="item-icon"><i class="fa fa-circle" style="color:#BD10E0"></i></span><span class="item-text">Đại lý cấp 2</span></li>
					                        <li class="list-group-item"><span class="item-icon"><i class="fa fa-circle" style="color:#E35DFF"></i></span><span class="item-text">Khách hàng TM</span></li>
					                        <li class="list-group-item"><span class="item-icon"><i class="fa fa-circle" style="color:#FB99FF"></i></span><span class="item-text">Khách hàng lớn</span></li>
					                    </ul>
					                    <!--./list-group-->
					                </li><!--./list-group-item--><!--node-0-1-->

					                <!--node-0-2--> 
					                <li class="list-group-item chanel" id="chanel-1-3">
					                    <!--checkbox-div-->
					                    <div class="checkbox-div">
					                        <input type="checkbox" checked> 
					                        <label><span class="item-text">PVFCCo Đông Nam Bộ</span></label>
					                    </div><!--./checkbox-div--> 
					                    <!--list-group-->
					                    <ul class="list-group">
					                        <li class="list-group-item"><span class="item-icon"><i class="fa fa-circle" style="color:#417505"></i></span><span class="item-text">Đại lý cấp 1</span></li>
					                        <li class="list-group-item"><span class="item-icon"><i class="fa fa-circle" style="color:#7ED321"></i></span><span class="item-text">Đại lý cấp 2</span></li>
					                        <li class="list-group-item"><span class="item-icon"><i class="fa fa-circle" style="color:#B8E986"></i></span><span class="item-text">Khách hàng TM</span></li>
					                        <li class="list-group-item"><span class="item-icon"><i class="fa fa-circle" style="color:#CBFF95"></i></span><span class="item-text">Khách hàng lớn</span></li>
					                    </ul>
					                    <!--./list-group-->
					                </li><!--./list-group-item--><!--node-0-2-->

					                <!--node-0-3-->
					                <li class="list-group-item chanel" id="chanel-1-4">
					                    <!--checkbox-div-->
					                    <div class="checkbox-div">
					                        <input type="checkbox" checked> 
					                        <label><span class="item-text">PVFCCo Tây Nam Bộ</span></label>
					                    </div><!--./checkbox-div--> 
					                    <!--list-group-->
					                    <ul class="list-group">
					                        <li class="list-group-item"><span class="item-icon"><i class="fa fa-circle" style="color:#0076FF"></i></span><span class="item-text">Đại lý cấp 1</span></li>
					                        <li class="list-group-item"><span class="item-icon"><i class="fa fa-circle" style="color:#4FA0FF"></i></span><span class="item-text">Đại lý cấp 2</span></li>
					                        <li class="list-group-item"><span class="item-icon"><i class="fa fa-circle" style="color:#87BFFF"></i></span><span class="item-text">Khách hàng TM</span></li>
					                        <li class="list-group-item"><span class="item-icon"><i class="fa fa-circle" style="color:#B9DAFF"></i></span><span class="item-text">Khách hàng lớn</span></li>
					                    </ul>
					                    <!--./list-group-->
					                </li><!--./list-group-item--><!--node-0-3-->

					                <!--node-0-5-->
					                <li class="list-group-item" id="chanel-1-5">
					                    <!--checkbox-div-->
					                    <div class="checkbox-div">
					                        <input type="checkbox" checked>
					                        <label><span class="item-icon"><i class="fa fa-circle" style="color:#9b9b9b"></i></span><span class="item-text">Khác</span></label>
					                    </div><!--./checkbox-div--> 
					                </li><!--./list-group-item--><!--node-0-5-->
					            </ul>
					            <!--./list-group-->
					        </li><!--./list-group-item-->
					    </ul>
					    <!--./list-group-->
					</div><!--./list-group-wrap-->

					<!--list-group-wrap-->
					<div class="list-group-wrap chanel-group" id="chanel-2">
					    <!--list-group-->
					    <ul class="list-group checktree active">
					        <span class="treeview"><i class="fa fa-caret-right"></i></span>
					        <!--list-group-item-->
					        <li class="list-group-item">
					            <!--checkbox-div-->
					            <div class="checkbox-div">
					                <input type="checkbox" checked> 
					                <label><span class="item-text">Kênh phân phối</span></label>
					            </div><!--./checkbox-div-->
					            <!--list-group--> 
					            <ul class="list-group treeview-menu">
					                <li class="list-group-item"><span class="item-icon level-1"><i class="fa fa-circle" style="color:#ED1C24"></i></span><span class="item-text">123-456</span></li>
					                <li class="list-group-item"><span class="item-icon level-2"><i class="fa fa-circle" style="color:#ED1C24"></i></span><span class="item-text">456-567</span></li>
					                <li class="list-group-item"><span class="item-icon level-3"><i class="fa fa-circle" style="color:#ED1C24"></i></span><span class="item-text">678-789</span></li>
					                <li class="list-group-item"><span class="item-icon level-4"><i class="fa fa-circle" style="color:#ED1C24"></i></span><span class="item-text">789-890</span></li>
					                <li class="list-group-item"><span class="item-icon level-5"><i class="fa fa-circle" style="color:#ED1C24"></i></span><span class="item-text">891-999</span></li>

					            </ul>
					            <!--./list-group-->
					        </li><!--./list-group-item-->
					    </ul>
					    <!--./list-group-->
					</div><!--./list-group-wrap-->

					<!--list-group-wrap-->
					<div class="list-group-wrap" id="company-1">
						<!--list-group-->
						<ul class="list-group">
							<!--list-group-item-->
							<li class="list-group-item">
								<!--checkbox-div-->
								<div class="checkbox-div">
									<input type="checkbox" checked> 
									<label><span class="item-icon"><img src="../static/img/icons/nav-group/company.png" atl="gis" /></span><span class="item-text">Doanh nghiệp</span></label>
								</div><!--./checkbox-div-->
							</li><!--./list-group-item-->
						</ul><!--./list-group-->
					</div><!--./list-group-wrap-->

					<!--list-group-wrap-->
					<div class="list-group-wrap" id="company-2">
						<!--list-group-->
						<ul class="list-group">
							<!--list-group-item-->
							<li class="list-group-item">
								<!--checkbox-div-->
								<div class="checkbox-div">
									<input type="checkbox" checked> 
									<label><span class="item-icon"><img src="../static/img/icons/nav-group/company.png" atl="gis" /></span><span class="item-text">Doanh nghiệp</span></label>
								</div><!--./checkbox-div-->
								<!--list-group-->
								<ul class="list-group">
									<li class="list-group-item"><span class="item-icon level-1"><img src="../static/img/icons/nav-group/company.png" atl="gis" /></span><span class="item-text">0 - 123</span></li>
									<li class="list-group-item"><span class="item-icon level-2"><img src="../static/img/icons/nav-group/company.png" atl="gis" /></span><span class="item-text">123 - 456</span></li>
									<li class="list-group-item"><span class="item-icon level-3"><img src="../static/img/icons/nav-group/company.png" atl="gis" /></span><span class="item-text">456 - 789</span></li>
									<li class="list-group-item"><span class="item-icon level-4"><img src="../static/img/icons/nav-group/company.png" atl="gis" /></span><span class="item-text">789 - 891</span></li>
									<li class="list-group-item"><span class="item-icon level-5"><img src="../static/img/icons/nav-group/company.png" atl="gis" /></span><span class="item-text">891 - 987</span></li>
								</ul>
								<!--./list-group-->
							</li><!--./list-group-item-->
						</ul><!--./list-group-->
					</div><!--./list-group-wrap-->

					<!--list-group-wrap-->
					<div class="list-group-wrap" id="storehouse-1">
						<!--list-group-->
						<ul class="list-group">
							<!--list-group-item-->
							<li class="list-group-item">
								<!--checkbox-div-->
								<div class="checkbox-div">
									<input type="checkbox" checked> 
									<label><span class="item-icon"><img src="../static/img/icons/nav-group/storehouse.png" atl="gis" /></span><span class="item-text">Kho</span></label>
								</div><!--./checkbox-div-->
							</li><!--./list-group-item-->
						</ul><!--./list-group-->
					</div><!--./list-group-wrap-->

					<!--list-group-wrap-->
					<div class="list-group-wrap" id="storehouse-2">
						<!--list-group-->
						<ul class="list-group">
							<!--list-group-item-->
							<li class="list-group-item">
								<!--checkbox-div-->
								<div class="checkbox-div">
									<input type="checkbox" checked> 
									<label><span class="item-icon"><img src="../static/img/icons/nav-group/storehouse.png" atl="gis" /></span><span class="item-text">Kho</span></label>
								</div><!--./checkbox-div-->
								<!--list-group-->
								<ul class="list-group">
									<li class="list-group-item"><span class="item-icon level-1"><img src="../static/img/icons/nav-group/storehouse.png" atl="gis" /></span><span class="item-text">0 - 123</span></li>
									<li class="list-group-item"><span class="item-icon level-2"><img src="../static/img/icons/nav-group/storehouse.png" atl="gis" /></span><span class="item-text">123 - 456</span></li>
									<li class="list-group-item"><span class="item-icon level-3"><img src="../static/img/icons/nav-group/storehouse.png" atl="gis" /></span><span class="item-text">456 - 789</span></li>
									<li class="list-group-item"><span class="item-icon level-4"><img src="../static/img/icons/nav-group/storehouse.png" atl="gis" /></span><span class="item-text">789 - 891</span></li>
									<li class="list-group-item"><span class="item-icon level-5"><img src="../static/img/icons/nav-group/storehouse.png" atl="gis" /></span><span class="item-text">891 - 987</span></li>
								</ul>
								<!--./list-group-->
							</li><!--./list-group-item-->
						</ul><!--./list-group-->
					</div><!--./list-group-wrap-->

					<!--list-group-wrap-->
					<div class="list-group-wrap" id="factory-1">
						<!--list-group-->
						<ul class="list-group">
							<!--list-group-item-->
							<li class="list-group-item">
								<!--checkbox-div-->
								<div class="checkbox-div">
									<input type="checkbox" checked> 
									<label><span class="item-icon"><img src="../static/img/icons/nav-group/factory.png" atl="gis" /></span><span class="item-text">Nhà máy</span></label>
								</div><!--./checkbox-div-->
							</li><!--./list-group-item-->
						</ul><!--./list-group-->
					</div><!--./list-group-wrap-->

					<!--list-group-wrap-->
					<div class="list-group-wrap" id="factory-2">
						<!--list-group-->
						<ul class="list-group">
							<!--list-group-item-->
							<li class="list-group-item">
								<!--checkbox-div-->
								<div class="checkbox-div">
									<input type="checkbox" checked> 
									<label><span class="item-icon"><img src="../static/img/icons/nav-group/factory.png" atl="gis" /></span><span class="item-text">Nhà máy</span></label>
								</div><!--./checkbox-div-->
								<!--list-group-->
								<ul class="list-group">
									<li class="list-group-item"><span class="item-icon level-1"><img src="../static/img/icons/nav-group/factory.png" atl="gis" /></span><span class="item-text">0 - 123</span></li>
									<li class="list-group-item"><span class="item-icon level-2"><img src="../static/img/icons/nav-group/factory.png" atl="gis" /></span><span class="item-text">123 - 456</span></li>
									<li class="list-group-item"><span class="item-icon level-3"><img src="../static/img/icons/nav-group/factory.png" atl="gis" /></span><span class="item-text">456 - 789</span></li>
									<li class="list-group-item"><span class="item-icon level-4"><img src="../static/img/icons/nav-group/factory.png" atl="gis" /></span><span class="item-text">789 - 891</span></li>
									<li class="list-group-item"><span class="item-icon level-5"><img src="../static/img/icons/nav-group/factory.png" atl="gis" /></span><span class="item-text">891 - 987</span></li>
								</ul>
								<!--./list-group-->
							</li><!--./list-group-item-->
						</ul><!--./list-group-->
					</div><!--./list-group-wrap-->

					<!--list-group-wrap-->
					<div class="list-group-wrap" id="transport-enterprise-1">
						<!--list-group-->
						<ul class="list-group">
							<!--list-group-item-->
							<li class="list-group-item">
								<!--checkbox-div-->
								<div class="checkbox-div">
									<input type="checkbox" checked> 
									<label><span class="item-icon"><img src="../static/img/icons/nav-top-icons/transport-enterprise.png" atl="gis" /></span><span class="item-text">Doanh nghiệp vận tải</span></label>
								</div><!--./checkbox-div-->
							</li><!--./list-group-item-->
						</ul><!--./list-group-->
					</div><!--./list-group-wrap-->

					<!--list-group-wrap-->
					<div class="list-group-wrap" id="transport-enterprise-2">
						<!--list-group-->
						<ul class="list-group">
							<!--list-group-item-->
							<li class="list-group-item">
								<!--checkbox-div-->
								<div class="checkbox-div">
									<input type="checkbox" checked> 
									<label><span class="item-icon"><img src="../static/img/icons/nav-top-icons/transport-enterprise.png" atl="gis" /></span><span class="item-text">Doanh nghiệp vận tải</span></label>
								</div><!--./checkbox-div-->
								<!--list-group-->
								<ul class="list-group">
									<li class="list-group-item"><span class="item-icon level-1"><img src="../static/img/icons/nav-top-icons/transport-enterprise.png" atl="gis" /></span><span class="item-text">0 - 123</span></li>
									<li class="list-group-item"><span class="item-icon level-2"><img src="../static/img/icons/nav-top-icons/transport-enterprise.png" atl="gis" /></span><span class="item-text">123 - 456</span></li>
									<li class="list-group-item"><span class="item-icon level-3"><img src="../static/img/icons/nav-top-icons/transport-enterprise.png" atl="gis" /></span><span class="item-text">456 - 789</span></li>
									<li class="list-group-item"><span class="item-icon level-4"><img src="../static/img/icons/nav-top-icons/transport-enterprise.png" atl="gis" /></span><span class="item-text">789 - 891</span></li>
									<li class="list-group-item"><span class="item-icon level-5"><img src="../static/img/icons/nav-top-icons/transport-enterprise.png" atl="gis" /></span><span class="item-text">891 - 987</span></li>
								</ul>
								<!--./list-group-->
							</li><!--./list-group-item-->
						</ul><!--./list-group-->
					</div><!--./list-group-wrap-->

					<!--list-group-wrap-->
					<div class="list-group-wrap">
						<!--list-group-->
						<ul class="list-group">
							<!--list-group-item-->
							<li class="list-group-item">
								<!--checkbox-div-->
								<div class="checkbox-div">
									<input type="checkbox" checked> 
									<label><span class="item-icon"><img src="../static/img/icons/nav-top-icons/g-company.png" atl="gis" /></span><span class="item-text">Cơ quan nhà nước</span></label>
								</div><!--./checkbox-div-->
							</li><!--./list-group-item-->
						</ul><!--./list-group-->
					</div><!--./list-group-wrap-->

					<!--list-group-wrap-->
					<div class="list-group-wrap">
						<!--list-group-->
						<ul class="list-group">
							<!--list-group-item-->
							<li class="list-group-item">
								<!--checkbox-div-->
								<div class="checkbox-div">
									<input type="checkbox" checked> 
									<label><span class="item-icon"><img src="../static/img/icons/nav-group/dot-border.png" atl="gis" /></span><span class="item-text">Ranh giới xã</span></label>
								</div><!--./checkbox-div-->
							</li><!--./list-group-item-->
						</ul><!--./list-group-->
					</div><!--./list-group-wrap-->

					<!--list-group-wrap-->
					<div class="list-group-wrap">
						<!--list-group-->
						<ul class="list-group">
							<!--list-group-item-->
							<li class="list-group-item">
								<!--checkbox-div-->
								<div class="checkbox-div">
									<input type="checkbox" checked> 
									<label><span class="item-icon"><img src="../static/img/icons/nav-group/solid-border.png" atl="gis" /></span><span class="item-text">Ranh giới huyện</span></label>
								</div><!--./checkbox-div-->
							</li><!--./list-group-item-->
						</ul><!--./list-group-->
					</div><!--./list-group-wrap-->

					<!--list-group-wrap-->
					<div class="list-group-wrap">
						<!--list-group-->
						<ul class="list-group">
							<!--list-group-item-->
							<li class="list-group-item">
								<!--checkbox-div-->
								<div class="checkbox-div">
									<input type="checkbox" checked> 
									<label><span class="item-icon"><img src="../static/img/icons/nav-group/bold-border.png" atl="gis" /></span><span class="item-text">Ranh giới tỉnh</span></label>
								</div><!--./checkbox-div-->
							</li><!--./list-group-item-->
						</ul><!--./list-group-->
					</div><!--./list-group-wrap-->

					<!--list-group-wrap-->
					<div class="list-group-wrap province" id="province-1">
						<!--list-group-->
						<ul class="list-group checktree active">
							<span class="treeview"><i class="fa fa-caret-right"></i></span>
							<!--list-group-item-->
							<li class="list-group-item">
								<!--checkbox-div-->
								<div class="checkbox-div">
									<input type="checkbox" checked> 
									<label><span class="item-text">Tỉnh</span></label>
								</div><!--./checkbox-div-->
								<!--list-group--><!--PVFCCo Miền Bắc-->
								<ul class="list-group province-group" id="province-1-1">
									<li class="list-group-item"><span class="item-icon"><i class="fa fa-square" style="color:#9013FF"></i></span><span class="item-text">Hà Giang</span></li>
									<li class="list-group-item"><span class="item-icon"><i class="fa fa-square" style="color:#BD10E0"></i></span><span class="item-text">Hà nội</span></li>
									<li class="list-group-item"><span class="item-icon"><i class="fa fa-square" style="color:#E35DFF"></i></span><span class="item-text">Bắc Ninh</span></li>
									<li class="list-group-item"><span class="item-icon"><i class="fa fa-square" style="color:#FB99FF"></i></span><span class="item-text">Cao Bằng</span></li>
								</ul>
								<!--PVFCCo Miền Trung-->
								<ul class="list-group province-group" id="province-1-2">
									<!--PVFCCo Miền Bắc-->
									<li class="list-group-item"><span class="item-icon"><i class="fa fa-square" style="color:#9013FF"></i></span><span class="item-text">Đà Nẵng</span></li>
									<li class="list-group-item"><span class="item-icon"><i class="fa fa-square" style="color:#BD10E0"></i></span><span class="item-text">Huế</span></li>
									<li class="list-group-item"><span class="item-icon"><i class="fa fa-square" style="color:#E35DFF"></i></span><span class="item-text">Quảng Trị</span></li>
									<li class="list-group-item"><span class="item-icon"><i class="fa fa-square" style="color:#FB99FF"></i></span><span class="item-text">Phú Yên</span></li>
								</ul>
								<!--./list-group-->
								<!--list-group--><!--PVFCCo Đông Nam Bộ-->
								<ul class="list-group province-group" id="province-1-3">
									<li class="list-group-item"><span class="item-icon"><i class="fa fa-square" style="color:#9013FF"></i></span><span class="item-text">Lâm Đồng</span></li>
									<li class="list-group-item"><span class="item-icon"><i class="fa fa-square" style="color:#BD10E0"></i></span><span class="item-text">Đak Lak</span></li>
									<li class="list-group-item"><span class="item-icon"><i class="fa fa-square" style="color:#E35DFF"></i></span><span class="item-text">Kom Tum</span></li>
									<li class="list-group-item"><span class="item-icon"><i class="fa fa-square" style="color:#FB99FF"></i></span><span class="item-text">Gia Lai</span></li>
								</ul>
								<!--PVFCCo Tây Nam Bộ-->
								<ul class="list-group province-group" id="province-1-4">
									<!--PVFCCo Miền Bắc-->
									<li class="list-group-item"><span class="item-icon"><i class="fa fa-square" style="color:#0097A7"></i></span><span class="item-text">An Giang</span></li>
									<li class="list-group-item"><span class="item-icon"><i class="fa fa-square" style="color:#00BCD4"></i></span><span class="item-text">Tiền Giang</span></li>
									<li class="list-group-item"><span class="item-icon"><i class="fa fa-square" style="color:#4DD0E1"></i></span><span class="item-text">Kiên Giang</span></li>
									<li class="list-group-item"><span class="item-icon"><i class="fa fa-square" style="color:#B2EBF2"></i></span><span class="item-text">Cần Thơ</span></li>
								</ul>
								<!--./list-group-->
							</li><!--./list-group-item-->
						</ul>
						<!--./list-group-->
					</div><!--./list-group-wrap-->

					<!--list-group-wrap-->
					<div class="list-group-wrap province" id="province-2">
						<!--list-group-->
						<ul class="list-group checktree active">
							<span class="treeview"><i class="fa fa-caret-right"></i></span>
							<!--list-group-item-->
							<li class="list-group-item">
								<!--checkbox-div-->
								<div class="checkbox-div">
									<input type="checkbox" checked> 
									<label><span class="item-text">Tỉnh</span></label>
								</div><!--./checkbox-div-->
								<!--list-group-->
								<ul class="list-group treeview-menu">
									<li class="list-group-item"><span class="item-icon"><i class="fa fa-square" style="color:#B2EBF2"></i></span><span class="item-text">123-456</span></li>
									<li class="list-group-item"><span class="item-icon"><i class="fa fa-square" style="color:#4DD0E1"></i></span><span class="item-text">456-567</span></li>
									<li class="list-group-item"><span class="item-icon"><i class="fa fa-square" style="color:#00BCD4"></i></span><span class="item-text">678-789</span></li>
									<li class="list-group-item"><span class="item-icon"><i class="fa fa-square" style="color:#0097A7"></i></span><span class="item-text">789-890</span></li>
									<li class="list-group-item"><span class="item-icon"><i class="fa fa-square" style="color:#00838F"></i></span><span class="item-text">891-999</span></li>
								</ul>
								<!--./list-group-->
							</li><!--./list-group-item-->
						</ul>
						<!--./list-group-->
					</div><!--./list-group-wrap-->

					<!--list-group-wrap-->
					<div class="list-group-wrap province" id="province-3">
						<!--list-group-->
						<ul class="list-group checktree active">
							<span class="treeview"><i class="fa fa-caret-right"></i></span>
							<!--list-group-item-->
							<li class="list-group-item">
								<!--checkbox-div-->
								<div class="checkbox-div">
									<input type="checkbox" checked> 
									<label><span class="item-text">Tỉnh</span></label>
								</div><!--./checkbox-div-->
								<!--list-group-->
								<ul class="list-group treeview-menu">
									<li class="list-group-item"><span class="item-icon level-1"><i class="fa fa-circle" style="color:#00838F"></i></span><span class="item-text">123-456</span></li>
									<li class="list-group-item"><span class="item-icon level-2"><i class="fa fa-circle" style="color:#00838F"></i></span><span class="item-text">456-567</span></li>
									<li class="list-group-item"><span class="item-icon level-3"><i class="fa fa-circle" style="color:#00838F"></i></span><span class="item-text">678-789</span></li>
									<li class="list-group-item"><span class="item-icon level-4"><i class="fa fa-circle" style="color:#00838F"></i></span><span class="item-text">789-890</span></li>
									<li class="list-group-item"><span class="item-icon level-5"><i class="fa fa-circle" style="color:#00838F"></i></span><span class="item-text">891-999</span></li>
								</ul>
								<!--./list-group-->
							</li><!--./list-group-item-->
						</ul>
						<!--./list-group-->
					</div><!--./list-group-wrap-->

					<!--list-group-wrap-->
					<div class="list-group-wrap district" id="district-1">
						<!--list-group-->
						<ul class="list-group">
							<!--list-group-item-->
							<li class="list-group-item">
								<!--checkbox-div-->
								<div class="checkbox-div">
									<input type="checkbox" checked> 
									<label><span class="item-icon"><i class="fa fa-square" style="color:#0066D5"></i></span><span class="item-text">Huyện</span></label>
								</div><!--./checkbox-div-->
							</li><!--./list-group-item-->
						</ul><!--./list-group-->
					</div><!--./list-group-wrap-->

					<!--list-group-wrap-->
					<div class="list-group-wrap district" id="district-2">
						<!--list-group-->
						<ul class="list-group checktree active">
							<span class="treeview"><i class="fa fa-caret-right"></i></span>
							<!--list-group-item-->
							<li class="list-group-item">
								<!--checkbox-div-->
								<div class="checkbox-div">
									<input type="checkbox" checked> 
									<label><span class="item-text">Huyện</span></label>
								</div><!--./checkbox-div-->
								<!--list-group-->
								<ul class="list-group treeview-menu">
									<li class="list-group-item"><span class="item-icon"><i class="fa fa-square" style="color:#ED1C24"></i></span><span class="item-text">123-456</span></li>
									<li class="list-group-item"><span class="item-icon"><i class="fa fa-square" style="color:#FF9F00"></i></span><span class="item-text">456-567</span></li>
									<li class="list-group-item"><span class="item-icon"><i class="fa fa-square" style="color:#FF9F00"></i></span><span class="item-text">678-789</span></li>
									<li class="list-group-item"><span class="item-icon"><i class="fa fa-square" style="color:#FFC215"></i></span><span class="item-text">789-890</span></li>
									<li class="list-group-item"><span class="item-icon"><i class="fa fa-square" style="color:#FFEC00"></i></span><span class="item-text">891-999</span></li>
								</ul> 
								<!--./list-group-->
							</li><!--./list-group-item-->
						</ul>
						<!--./list-group-->
					</div><!--./list-group-wrap-->

					<!--list-group-wrap-->
					<div class="list-group-wrap district" id="district-3">
						<!--list-group-->
						<ul class="list-group checktree active">
							<span class="treeview"><i class="fa fa-caret-right"></i></span>
							<!--list-group-item-->
							<li class="list-group-item">
								<!--checkbox-div-->
								<div class="checkbox-div">
									<input type="checkbox" checked> 
									<label><span class="item-text">Huyện</span></label>
								</div><!--./checkbox-div-->
								<!--list-group-->		
								<ul class="list-group treeview-menu">
									<li class="list-group-item"><span class="item-icon level-1"><i class="fa fa-circle" style="color:#0066D5"></i></span><span class="item-text">123-456</span></li>
									<li class="list-group-item"><span class="item-icon level-2"><i class="fa fa-circle" style="color:#0066D5"></i></span><span class="item-text">456-567</span></li>
									<li class="list-group-item"><span class="item-icon level-3"><i class="fa fa-circle" style="color:#0066D5"></i></span><span class="item-text">678-789</span></li>
									<li class="list-group-item"><span class="item-icon level-4"><i class="fa fa-circle" style="color:#0066D5"></i></span><span class="item-text">789-890</span></li>
									<li class="list-group-item"><span class="item-icon level-5"><i class="fa fa-circle" style="color:#0066D5"></i></span><span class="item-text">891-999</span></li>
								</ul>
								<!--./list-group-->
							</li><!--./list-group-item-->
						</ul>
						<!--./list-group-->
					</div><!--./list-group-wrap-->

					<!--list-group-wrap-->
					<div class="list-group-wrap" id="google-maps">
						<!--list-group-->
						<ul class="list-group">
							<!--list-group-item-->
							<li class="list-group-item">
								<!--checkbox-div-->
								<div class="checkbox-div">
									<input type="checkbox" checked> 
									<label><span class="item-text">Google Maps</span></label>
								</div><!--./checkbox-div-->
							</li><!--./list-group-item-->
						</ul><!--./list-group-->
					</div><!--./list-group-wrap-->

					<!--list-group-wrap-->
					<div class="list-group-wrap" id="google-satelite">
						<!--list-group-->
						<ul class="list-group">
							<!--list-group-item-->
							<li class="list-group-item">
								<!--checkbox-div-->
								<div class="checkbox-div">
									<input type="checkbox" checked> 
									<label><span class="item-text">Google Satelite</span></label>
								</div><!--./checkbox-div-->
							</li><!--./list-group-item-->
						</ul><!--./list-group-->
					</div><!--./list-group-wrap-->

					<!--list-group-wrap-->
					<div class="list-group-wrap" id="g-ward">
						<!--list-group-->
						<ul class="list-group">
							<!--list-group-item-->
							<li class="list-group-item">
								<!--checkbox-div-->
								<div class="checkbox-div">
									<input type="checkbox" checked> 
									<label><span class="item-icon"><i class="fa fa-square" style="color:#39D900"></i></span><span class="item-text">Xã</span></label>
								</div><!--./checkbox-div-->
							</li><!--./list-group-item-->
						</ul><!--./list-group-->
					</div><!--./list-group-wrap-->

				</div>
			</div>
		</div>

		<!--nav-control-->
		<div class="nav-control">
			<button class="btn btn-default active"><img src="../static/img/icons/nav-icons/z-in.png" atl="gis" /></button>
			<button class="btn btn-default"><img src="../static/img/icons/nav-icons/z-out.png" atl="gis" /></button>
			<button class="btn btn-default"><img src="../static/img/icons/nav-icons/create.png" atl="gis" /></button>
			<button class="btn btn-default"><img src="../static/img/icons/nav-icons/free-hand.png" atl="gis" /></button>
			<button class="btn btn-default"><img src="../static/img/icons/nav-icons/fixed-zoom-in.png" atl="gis" /></button>
			<button class="btn btn-default"><img src="../static/img/icons/nav-icons/fixed-zoom-out.png" atl="gis" /></button>
			<button class="btn btn-default"><img src="../static/img/icons/nav-icons/global.png" atl="gis" /></button>
			<button class="btn btn-default"><img src="../static/img/icons/nav-icons/next.png" atl="gis" /></button>
			<button class="btn btn-default"><img src="../static/img/icons/nav-icons/back.png" atl="gis" /></button>
			<button class="btn btn-default"><img src="../static/img/icons/nav-icons/select-feature.png" atl="gis" /></button>
			<button class="btn btn-default"><img src="../static/img/icons/nav-icons/clear-select-feature.png" atl="gis" /></button>
			<button class="btn btn-default"><img src="../static/img/icons/nav-icons/select.png" atl="gis" /></button>
			<button class="btn btn-default"><img src="../static/img/icons/nav-icons/rectangle.png" atl="gis" /></button>
			<button class="btn btn-default"><img src="../static/img/icons/nav-icons/text.png" atl="gis" /></button>
			<button class="btn btn-default"><img src="../static/img/icons/nav-icons/update-info.png" atl="gis" /></button>
			<button class="btn btn-default"><img src="../static/img/icons/nav-icons/call-split.png" atl="gis" /></button>
		</div><!--nav-control-->
	</div>
</div>