<!-- support-submenu -->
<nav class="navbar">
	<ul class="nav navbar-nav">
        <li class="active"><a href="#"><img src="../static/img/icons/nav-top-icons/note.png" atl="gis" /> <span>Ghi chú</span></a></li>
        <li class="sub-group">
        	<span class="group-separator"></span>
        	<ul>
        		<span class="sub-group-name">Đánh dấu</span>
        		<li><a href="#"><img src="../static/img/icons/nav-top-icons/mark_1.png" atl="gis" /> <span>Đánh dấu</span></a></li>
        		<li><a href="#"><img src="../static/img/icons/nav-top-icons/mark_2.png" atl="gis" /> <span>Quản lý</span></a></li>
        	</ul>	
        	<span class="group-separator"></span>
        </li>
        <li><a href="#"><img src="../static/img/icons/nav-top-icons/move.png" atl="gis" /> <span>Di chuyển <br/> nhanh</span></a></li>
        <li><a href="#"><img src="../static/img/icons/nav-top-icons/export.png" atl="gis" /> <span>Xuất bản đồ</span></a></li>
    </ul>
</nav>
<!-- support-submenu -->