<div id="gis-header" class="header">
    <!--top-header-->
    <div class="top-header">
        <div class="navbar">
            <ul class="nav navbar-nav">
                <li class="logo"><a href="#"><img src="../static/img/icons/logo/logo.png" atl="gis" /></a></li>
                <li><a style="padding-left:0; padding-right:0">|</a></li>
                <li class="intro">
                    <a href="javascript:void(0)" onclick="openPopup('about-gis')">Giới thiệu</a> 
                </li>
                <li class="help">
                    <a href="javascript:void(0)" onclick="openPopup('question')"><i class="fa fa-question-circle"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <!--./top-header-->
    <!--menu-->
    <div class="menu">
        <!-- Nav tabs -->
        <!--main-menu-nav-->
        <div class="main-menu-nav">
            <ul class="nav nav-tabs">
                <li>
                    <a data-toggle="tab" href="#submenu-1" id="tab-1">Cập nhật</a>
                </li>
                <li class="active">
                    <a data-toggle="tab" href="#submenu-2" id="tab-2">Tìm kiếm</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#submenu-3" id="tab-3">Báo cáo</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#submenu-4" id="tab-4">Hỗ trợ</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#submenu-5" id="tab-5">Hiển thị</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#submenu-6" id="tab-6">Quản lý</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#submenu-7" id="tab-7">Setting</a>
                </li>
            </ul>
        </div><!--./main-menu-nav-->
        <ul class="nav navbar-nav g-user-nav">
            <li>
                <a href="#" class="dropdown-toggle" id="g-notify" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><img src="../static/img/icons/nav-top-icons/notify.png" atl="gis" /><span class="badge">7+</span></a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="g-notify">
                    <li class="dropdown-header">Cập nhật mới</li>
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="dropdown-toggle" id="g-user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><img src="../static/img/icons/nav-top-icons/personal.png" atl="gis" /></a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="g-user">
                    <li class="dropdown-header">Tài khoản</li>
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content sub-menu-nav" id="sub-menu-nav">
            <!--submenu-->
            <div class="tab-pane" id="submenu-1">
                {% include "../sidebar/_update-submenu.html" %}
            </div>
            <div class="tab-pane active" id="submenu-2">
                {% include "../sidebar/_search-submenu.html" %}
            </div>
            <div class="tab-pane" id="submenu-3">
                {% include "../sidebar/_report-submenu.html" %}
            </div>
            <div class="tab-pane" id="submenu-4">
                {% include "../sidebar/_support-submenu.html" %}
            </div>
            <div class="tab-pane" id="submenu-5">
                {% include "../sidebar/_display-submenu.html" %}
            </div>
            <div class="tab-pane" id="submenu-6">
                {% include "../sidebar/_management-submenu.html" %}
            </div>
            <div class="tab-pane" id="submenu-7">
                {% include "../sidebar/_setting-submenu.html" %}
            </div>
            <!--./submenu-->
        </div>
    </div><!--./menu-->
</div>