 @font-face {
  font-family: 'Segoe UI';
  src: url('../fonts/segoeui.eot'); /* IE9 Compat Modes */
  src: url('../fonts/segoeui.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/segoeui.woff') format('woff'), /* Modern Browsers */
       url('../fonts/segoeui.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/segoeui.svg#aa3026f2104ce77a35c04950869e4451') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}
@font-face {
  font-family: 'Segoe UI Bold';
  src: url('../fonts/segoeuib.eot'); /* IE9 Compat Modes */
  src: url('../fonts/segoeuib.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/segoeuib.woff') format('woff'), /* Modern Browsers */
       url('../fonts/segoeuib.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/segoeuib.svg#aa3026f2104ce77a35c04950869e4451') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}
@font-face {
  font-family: 'Segoe UI Italic';
  src: url('../fonts/segoeuii.eot'); /* IE9 Compat Modes */
  src: url('../fonts/segoeuii.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/segoeuii.woff') format('woff'), /* Modern Browsers */
       url('../fonts/segoeuii.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/segoeuii.svg#1b6cc3b94b2d3823d309b487979e6c4d') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}
 @font-face {
  font-family: 'Segoe UI Light';
  src: url('../fonts/segoeuil.eot'); /* IE9 Compat Modes */
  src: url('../fonts/segoeuil.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/segoeuil.woff') format('woff'), /* Modern Browsers */
       url('../fonts/segoeuil.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/segoeuil.svg#7a970ceae9a1ab02ac93bba8667b5195') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}