body, html {
    background-color: #f4f4f4;
    color: #333;
    height: 100%;
    -webkit-backface-visibility: visible;
    font-family: 'Segoe UI Light', Arial;
    font-size: 13px;
    color: #4a4a4a;
    overflow: hidden;
}
label
	{
		margin-bottom: 0;
		font-weight: normal;
	}
a
	{
		color: #fff;
	}
.form-control, input, .btn
	{
		border-radius: 0;
	}

.gis-wrap
	{
		position: relative;
	    width: 100%;
	    height: 100%;
	}
.header
	{
	    width: 100%;
	    background: #128B00;
	    z-index: 100;
	    -webkit-transition: background .2s;
	}
.top-header
	{
		height: 30px;
		margin-bottom: 4px;
		overflow: hidden;
	}
.top-header > .navbar, .main-menu-nav> .navbar, .sub-menu-nav>.navbar
	{
		min-height: 30px;
		margin-bottom: 0;
	}
.logo
	{
		padding: 2px 0;
	}
.top-header .navbar-nav > li.logo > a 
	{
		padding-top: 0;padding-bottom: 0;
	}
.top-header .navbar-nav > li 
	{
		float: left;
		width: auto;
	}
.top-header .navbar-nav > li > a
	{
	    padding-top: 6px;
	    padding-bottom: 6px;
	    float: left;
	}
.top-header .navbar-nav > li.help > a
	{

	}
.menu
	{
		position: relative;
	}
.main-menu-nav .nav-tabs
	{
		border: 0;
	}
.main-menu-nav .nav-tabs>li
	{
		margin: 0;
	}
.main-menu-nav .nav-tabs > li > a 
	{
	    padding-top: 6px;
	    padding-bottom: 6px;
	    font-size: 14px;
	    font-family: 'Segoe UI';
	    text-transform: uppercase;
	    border-radius: 0;
	    border: 0;
	}
.g-user-nav
	{
		position: absolute;
		right: 15px;
		top: 0;
		width: auto;

	}
.g-user-nav >li >a
	{
		padding: 7px;
		font-size: 16px;
		position: relative;
		float: left;
	}
.g-user-nav > li > a> .badge
	{
		position: absolute;
		top: 0;
		right: -10px;
		font-size: 11px;
		background: transparent;
	}
.g-user-nav >li > #g-user
	{
		margin-top: -3px;
	}
.g-user-nav .open > a, .g-user-nav .open > a:hover, .g-user-nav .open > a:focus, .g-user-nav li > a:focus
	{
		background-color: transparent;
		border: 0;
	}
.navbar
	{
		border: 0;
	}
.nav > li > a:hover, .nav > li > a:focus 
	{
	    background-color: transparent;
	}
.main-menu-nav .nav > li > a:hover, .main-menu-nav .nav > li > a:focus 
	{
	    background-color: #f8f8f8;
	    color: #19AB03;
	    border: 0;
	}
.main-menu-nav .nav > li.active > a
	{
	    background-color: #f8f8f8;
	    color: #19AB03;
	    border: 0;
	}
.gis-body
	{
		width: 100%;
	    float: left;
	    position: relative;
	    top: 0;
	    bottom: 0;
	    z-index: 1;
	    -webkit-transition: opacity .3s;
	    background: #f4f4f4;
	    overflow: hidden;
	}
.sub-menu-nav
	{
		height: 91px;
	    width: 100%;
	    overflow: hidden;
	    z-index: 1;
	    top: 65px;
	    left:0;
	    padding: 8px 0 8px 10px;
	    background: #f8f8f8;
	    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	    font-size: 13px;
	}
.sub-menu-nav a, .sub-menu-nav span
	{
		font-size: 12px;
	}
.sub-menu-nav .nav>li>a
	{
		width:auto;
		min-width: 40px;
		height: 75px;
		display: block;
		color: #4a4a4a;
		text-align: center;
		padding: 5px 8px;
		float:left;
	}
.sub-menu-nav .nav>li>a:hover
	{
		background: #DEF4FF;
	}
.sub-menu-nav .nav>li>a>img
	{
		height: 20px;
		margin: 0 auto 7px;
		display: block;
	}
.sub-menu-nav .nav>li>a>span
	{
		display: block;
		line-height: 16px;
	}
.sub-group, .sub-group ul
	{
		list-style: none;
	}
.sub-group ul
	{
		padding: 0 2px;
		float: left;
	}
.sub-group ul>li
	{
		padding: 0 2px;
		width: 100%;
		display: block;
		margin-bottom: 8px;
	}
.sub-group ul li>a
	{
		color: #4a4a4a;
		padding: 5px;
	}
.sub-group ul li>a:hover
	{
		background: #DEF4FF;
		text-decoration: none;
		color: #4a4a4a;
	}
.sub-group img
	{
		height: 17px;
		margin-right: 5px; 
	}
.sub-group-name
	{
		width: 100%;
		display: block;
		margin-bottom: 8px;
		padding-left: 6px;
	}
.group-separator 
	{
	    height: 80px;
	    position: relative;
	    margin: 0px 4px;
	    border-right: 1px solid #e1e1e1;
	    float: left;
	}
.sidebar
	{
		-webkit-transition: width .1s;
	    width: 260px;
	    height: 100%;
	    background: #fff;
	    float: left;
	}
.nav-groups
	{
		width: 220px;
		height: 100vh;
		float: left;
	}
.nav-control
	{
		width: 40px;
		height: 100vh;
		padding: 0 6px;
		float: left;
		background: #f8f8f8;
		border-left: 1px solid #e5e5e5;
		border-right: 1px solid #e5e5e5;
	}
/*scroll to layer-div*/
.sidebar-scroll-bar
    {
        overflow-y: auto;
        -ms-overflow-y: scroll;
        max-height: 700px;
    }
.layer-div
    {
        width: 100%;
        height: auto;
        position: relative;
        padding-bottom: 20px;
    }
.sidebar .list-group
	{
		width: 100%;
		padding: 0;
		margin: 0;
		position: relative;
	}
.sidebar .list-group-item
	{
		padding: 2px 0 2px 0;
		background: transparent;
		border: 1px solid transparent;
		color: #4a4a4a;
		line-height: 17px;
		border-radius: 0;
	}
.list-group img
    {
        max-height: 20px;        
    }
.list-group>.list-group-item>.list-group
	{
		padding-left: 15px;
	}
.sidebar .item-title
	{
		text-transform: uppercase;
		color: #19AB03;
		border-bottom: 1px solid #e5e5e5;
		padding-left: 10px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
.list-group-wrap
	{
		width: 100%;
		padding: 0 0 0 15px;
		postion: relative;
	}
.list-agency .list-group-item>span
	{
		
	}
.item-icon
	{
		width: 20px;
		margin: 0 5px 0 0;
		text-align: center;
		display: inline-block;
	}
.item-icon img
	{
		max-width: 20px;
		margin: 0 auto;
	}
.nav-control .btn
	{
		width: 25px;
		height: 25px;
		padding: 0;
		margin: 3px 0;
		border: 1px solid transparent;
		border-radius: 0;
		background: transparent;
	}
.nav-control .btn:hover
	{
		background: #E2E2E2;
	}
.nav-control .btn.active
	{
		background: #7DFFE2;
		-webkit-box-shadow: none;
    	box-shadow: none;
	}
.gis-map
	{
		float: left;
		/*width: calc(100% - 260px);*/
	}
/*form*/
/*login*/

.login-page
	{
		background-image: url('../img/screen/start.jpg');
		background-size: cover;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}
.login-page img.bg-ie {
	display: none;
}
.login-form
	{
		width: 250px;
		height: auto;
		margin: 15% auto 0;
		font-family: 'Segoe UI';
		color: #4A4A4A;
	}
.login-header
	{
		width: 100%;
		height: 41px;
		margin-bottom: 28px;
	}
.login-header img
	{
		width: 135px;
		height: auto;
		margin: 0 auto;
		display: block;
	}
.login-form .panel
	{
		width: 100%;
		padding: 8px 15px;
		float: left;
		background: #FFFFFF;
		box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.30);
		border-radius: 0;
	}
.login-form .btn
	{
		width: 107px;
		text-transform: uppercase;
	}
.btn-default
	{
		background: #E5E5E5;
	}
.form-group
	{
		width: 100%;
		margin: 8px 0;
		float: left;
	}
.login-text
	{
		width: 100%;
		font-family: 'Segoe UI Bold';
		text-align: center;   
		font-size: 14px;
		margin-bottom: 0
	}
.login-text label
	{
		margin-bottom: 0;
	}
