body, html {
    font-family: Arial;
}
.login-page img.bg-ie {
	display: block;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}
.login-form
	{
		position: relative;
		z-index: 1
	}