/* visibel/hidden*/
.g-hidden
    {
        display: none !important;
    }
.g-visible
    {
        display: block !important;
    }
/*5 level*/
.item-icon i
    {
        font-size: 16px;
    }
.level-1 img
    {
        width: 45%;
    }
.level-2 img
    {
        width: 55%;
    }
.level-3 img
    {
        width: 70%;
    }
.level-4 img
    {
        width: 85%;
    }
.level-5 img
    {
        width: 100%;
    }
.level-1 i
    {
        font-size: 8px;
    }
.level-2 i
    {
        font-size: 10px;
    }
.level-3 i
    {
        font-size: 12px;
    }
.level-4 i
    {
        font-size: 14px;
    }
.level-5 i
    {
        font-size: 16px;
    }
/*treeview*/
.treeview
    {
        position: absolute;
        top: 3px;
        left: -9px;
        z-index:10;
        cursor: pointer;
        margin: 0;
        padding: 0 !important;
    }
.treeview-menu 
    {
        display: none;
    }
.active .treeview-menu
    {
        display: block;
    }
.active .treeview i
    {
        transform:         rotate(90deg); /* CSS3 */
        -moz-transform:    rotate(90deg); /* Firefox */
        -webkit-transform: rotate(90deg); /* Webkit */
        -o-transform:      rotate(90deg); /* Opera */
        -ms-transform:     rotate(90deg); /* IE 9 */
    }
