<div class="row">
	<form method="post" action="#">
		<div class="col-sm-3">
			<div class="form-group"><span>Toạ độ</span></div>
			<div class="form-group">
	            <input type="text" name="email" class="form-control" placeholder="Tên tài khoản" required="">
	        </div>
	        <div class="form-group">
	            <input type="password" name="password" class="form-control" placeholder="Password" required="">
	        </div>
		</div>
		<div class="col-sm-3">
			<div class="form-group"><span>Toạ độ</span></div>
			<div class="form-group">
	            <input type="text" name="email" class="form-control" placeholder="Tên tài khoản" required="">
	        </div>
	        <div class="form-group">
	            <input type="password" name="password" class="form-control" placeholder="Password" required="">
	        </div>
		</div>
		<div class="col-sm-6">
			<div class="form-group"><span>Toạ độ</span></div>
			<div class="form-group">
	            <input type="text" name="email" class="form-control" placeholder="Tên tài khoản" required="">
	        </div>
	        <div class="form-group">
	            <input type="password" name="password" class="form-control" placeholder="Password" required="">
	        </div>
		</div>
		<div class="col-sm-12">
			<div class="form-group">
	        	<input class="btn btn-success" type="submit" value="Đồng ý">
	        	<input class="btn btn-default" type="submit" value="Huỷ">
	        </div>
	    </div>
	</form>
</div>