<div class="login-form">
	<div class="login-header">
		<img src="../static/img/logo/logo_vir.png" atl="gis" />
	</div>
	<div class="panel">
		<form method="post" action="#">
			<div class="form-group login-text"><label>Xin vui lòng đăng nhập</label></div>
			<div class="form-group">
	            <input type="text" name="email" class="form-control" placeholder="Tên tài khoản" required="">
	        </div>
	        <div class="form-group">
	            <input type="password" name="password" class="form-control" placeholder="Password" required="">
	        </div>
	        <div class="form-group">
	        	<input class="btn btn-success" type="submit" value="Đồng ý">
	        	<input class="btn btn-default" type="submit" value="Huỷ">
	        </div>
			<!-- ./Payment -->
		</form>
	</div>
</div>