{% extends "../layout/_layout.html" %}
<!--modal-->
{% block modal %}
	<div id="w" class="easyui-window" title="Thông tin doanh nghiệp" closed="true" data-options="iconCls:'icon-save'" style="width:960px;height:620px;">
        <!--content-->
        <div class="gis-window-body">
        	{% include "../form/_dn.html" %}
        </div><!--./content-->
    </div>

    <div id="w2" class="easyui-window" title="Kênh phân phối" closed="true" data-options="iconCls:'icon-save'" style="width:960px;height:620px;">
        <!--content-->
        <div class="gis-window-body">
       		Form Kênh phân phối để ở đây nè!
        </div><!--./content-->
    </div>

    <!--popup giới thiệu-->
    <div id="about-gis" class="easyui-window" title="Kênh phân phối" closed="true" data-options="iconCls:'icon-save'" style="width:960px;height:620px;">
        <!--content-->
        <div class="gis-window-body">
            Giới thiệu
        </div><!--./content-->
    </div>
    <!--popup Trợ giúp-->
    <div id="question" class="easyui-window" title="Kênh phân phối" closed="true" data-options="iconCls:'icon-save'" style="width:960px;height:620px;">
        <!--content-->
        <div class="gis-window-body">
            Trợ giúp
        </div><!--./content-->
    </div>
{% endblock %}
<!--./modal-->