<!DOCTYPE html>
<html {% block html_attribs %}lang="vi"{% endblock %}>
<head>
    {% block meta %}
        <meta charset="utf-8">
        <!-- Behavioral Meta Data -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <!-- Core Meta Data -->
        <meta name="author" content="doda">
        <meta name="description" content="">
        <meta name="keywords" content="">
    {% endblock %}

    <title>{% block title %}GIS{% endblock %}</title>
    <!-- Humans -->
    <link rel="author" href="http://doda100.com">
    <!-- Styles -->
    {% block style %} 
        <link href="../static/css/bootstrap.css" rel="stylesheet"> 
        <link href="../static/css/fonts.css" rel="stylesheet">  
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link href="../static/css/easyui.css" rel="stylesheet">  
        <link href="../static/css/gis-style.css" rel="stylesheet"> 
        <link href="../static/css/treeview.css" rel="stylesheet">           
    {% endblock %}
    <!-- Favicon -->
    {% block favicon %}     
        <link rel="icon" href="../static/img/favicon/logo.ico">        
    {% endblock %}  
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--[if lt IE 10]>
        <link href="../static/css/ie.css" rel="stylesheet">
    <![endif]-->
</head>
<body class="">
    <div class="wrap-page">
        {% block header %}{% endblock %}
        {% block content %}{% endblock %}
        {% block footer %}{% endblock %}
        {% block modal %}{% endblock %}
        {% block script%}
        <script type="text/javascript" src="../static/js/jquery.min.js"></script>
        <script type="text/javascript" src="../static/js/bootstrap.js"></script>
        <script type="text/javascript" src="../static/js/slimscroll.js"></script>
        <script type="text/javascript" src="../static/js/jquery-checktree.js"></script>
        <script type="text/javascript" src="../static/js/jquery.easyui.min.js"></script>
        <script type="text/javascript" src="../static/js/app.js"></script>
        <!--open window popup-->
        <!--<script>
            function openPopup(formPopup){
                $(document.getElementById(formPopup)).window('open');
            }

            //default provine
            $(function() {
               var province = [];
               $.getJSON('../json/province.json', function(data) {
                   $.each(data.province, function(i, f) {
                        var dbRow = '<li class="list-group-item" id="' + f.id + '">' + '<span class="item-icon"><i class="fa fa-square" style="color:' + f.color + '"></i></span><span class="item-text">' + f.name + '</span></li> '; 
                        $(dbRow).appendTo("#province-1-db");
                 });

               });

            });
        </script>-->
        {% endblock %}
    </div>  
</body>
</html>
