{% extends "../layout/_layout-base.html" %}
{% block content %}
<!--content-->
<div class="gis-wrap">
    <!--header-->
    {% block header%}
        {% include "../header/_header.html" %}
    {% endblock %}
    <!--./header-->
    <!--gis-body-->
    <section class="gis-body" id="gis-body">
        <!--sidebar-->
        {% block sidebar%}
            {% include "../sidebar/_sidebar.html" %}
        {% endblock %}
        <!--./sidebar-->
        <!--map-->
        <div class="gis-map" id="gis-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.8065315392705!2d106.679656!3d10.749388999999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f00fdef8429%3A0xe12345fba6b2400e!2zMTIxLzExIEjGsG5nIFBow7osIHBoxrDhu51uZyA4LCBRdeG6rW4gOCwgSOG7kyBDaMOtIE1pbmgsIFZpZXRuYW0!5e0!3m2!1sen!2s!4v1440746483955" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <!--./map-->
    </section>
    <!--./gis-body-->
</div>
<!--./content--> 
{% endblock %}
<!--modal-->
{% block modal %}
{% endblock %}
<!--./modal-->